:root {
  --text: #212121;
  --background: #ffffff;
  --color-p: #757575;
  --color-but: #2196f3;
  --active-but: #188ce8;
  --icon-color: #afb1b8;
  --bg-svg: #f5f4fa;
  --bg-color-90: rgba(33, 150, 243, 90%);
  --bg-backdrop: #0000001a;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --input-border: #21212133;
  --color-textarea: rgba(117, 117, 117, 0.5);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: var(--text);
  background-color: var(--background);
  font-family: "roboto";
  letter-spacing: 0.03em;
  font-size: 14px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

p {
  color: var(--color-p);
}

span {
  color: var(--color-but);
}

.hidden-nav {
  opacity: 0;
  display: none;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .hidden-nav {
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.page {
  overflow-x: hidden;
}

.btn-cap {
  color: var(--background);
  font-size: 16px;
  width: 200px;
  height: 50px;
  background-color: var(--color-but);
  border-radius: 4px;
  border: 0;
  letter-spacing: 0.06em;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .btn-cap {
    width: 216px;
  }
}
.btn-cap:active {
  background-color: var(--active-but);
}
.btn-close {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
  -webkit-transition-property: fill;
  transition-property: fill;
}
.btn-close:hover, .btn-close:focus {
  fill: var(--color-but);
}

.list-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 8px;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .list-btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.list-btn [type=button] {
  height: 38px;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 0;
  font-size: 16px;
  padding: 6px 27px;
  cursor: pointer;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
@media screen and (min-width: 768px) {
  .list-btn [type=button] {
    padding: 6px 22px;
  }
}
.list-btn [type=button]:hover, .list-btn [type=button]:focus {
  background-color: var(--active-but);
  color: var(--background);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1019607843), 0px 1px 2px rgba(0, 0, 0, 0.0784313725), 0px 2px 2px rgba(0, 0, 0, 0.1215686275);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1019607843), 0px 1px 2px rgba(0, 0, 0, 0.0784313725), 0px 2px 2px rgba(0, 0, 0, 0.1215686275);
}

.tg-btn {
  color: var(--background);
  font-size: 16px;
  width: 216px;
  height: 50px;
  background-color: var(--color-but);
  border-radius: 4px;
  border: 0;
  letter-spacing: 0.06em;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  gap: 10px;
}

.icon-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  fill: var(--color-p);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.icon-contacts:hover .icon-tap, .icon-contacts:focus .icon-tap {
  fill: var(--color-but);
}
.icon-tap {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.icon-tap:hover, .icon-tap:focus {
  fill: var(--color-but);
}
.icon-unchecked {
  opacity: 1;
}
.icon-unchecked:focus, .icon-checked:focus {
  fill: var(--color-but);
}
.icon-checked {
  opacity: 0;
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
  fill: var(--color-but);
}
.aggre-licence:checked + .icon-licence .icon-checked {
  background-color: var(--active-but);
  opacity: 1;
}
.aggre-licence:checked + .icon-licence .icon-unchecked {
  fill: var(--active-but);
}
.icon-licence:checked .icon-unchecked {
  background-color: var(--active-but);
}
.icon-licence:focus {
  fill: var(--active-but);
}

.clients-icon {
  fill: currentColor;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
ul .clients-link:hover .clients-icon, ul .clients-link:focus .clients-icon {
  fill: var(--color-but);
}

.form-icon {
  position: absolute;
  bottom: 11px;
  left: 14px;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.form-icon:focus, .form-icon:hover {
  border-color: var(--input-border);
}
.input:focus + .form-icon {
  fill: var(--color-but);
}

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: auto;
  cursor: pointer;
}

.hidden-burg {
  padding: 6px 0;
}
@media screen and (min-width: 768px) {
  .hidden-burg {
    display: none;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 1;
  }
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 48px 40px;
  background-color: var(--background);
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}
.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu-nav {
  margin-bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
}
.mobile-menu-nav a {
  font-size: 36px;
  line-height: 1.15;
  font-weight: 500;
  color: var(--text);
}
@media screen and (min-width: 480px) {
  .mobile-menu-nav a {
    font-size: 40px;
  }
}

.mobile-menu-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
}
.mobile-menu-con .menu__tel {
  font-size: 28px;
  color: var(--color-but);
  line-height: 1.1764705882;
}
@media screen and (min-width: 480px) {
  .mobile-menu-con .menu__tel {
    font-size: 34px;
  }
}
.mobile-menu-con .menu__email {
  font-size: 18px;
  line-height: 1.1666666667;
  color: var(--color-p);
}
@media screen and (min-width: 480px) {
  .mobile-menu-con .menu__email {
    font-size: 24px;
  }
}

.mobile-menu-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 500;
  gap: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 480px) {
  .mobile-menu-soc {
    gap: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.mobile-menu-soc a {
  font-size: 18px;
  line-height: 1.2222222222;
  color: var(--color-but);
  padding-right: 10px;
}
@media screen and (min-width: 480px) {
  .mobile-menu-soc a {
    padding-right: 0;
  }
}
.mobile-menu-soc [href="https://www.facebook.com/"] {
  padding-right: 13px;
}
.mobile-menu-soc li {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
@media screen and (min-width: 480px) {
  .mobile-menu-soc li {
    padding: 0 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .mobile-menu-soc li:first-child {
    padding-left: 0;
  }
  .mobile-menu-soc li:last-child {
    padding-right: 0;
    border: none;
  }
}

.menu-toggle {
  padding: 0;
  position: absolute;
  top: 21px;
  right: 25px;
}

.close-menu {
  background-color: transparent;
  border: none;
}
.close-menu .close-menu__btn:hover, .close-menu .close-menu__btn:focus {
  fill: var(--color-but);
}

.border {
  border-right-color: rgb(238, 238, 238);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(238, 238, 238);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(238, 238, 238);
  border-left-style: solid;
  border-left-width: 1px;
  padding-top: 30px;
  padding-bottom: 20px;
}
.border p {
  font-size: 16px;
  line-height: 1.9;
  text-align: left;
  margin-left: 24px;
}

.footer {
  background-color: #2f303a;
  color: var(--background);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer h2 {
  text-align: center;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer h2 {
    text-align: inherit;
  }
}
.footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: var(--background);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
ul .footer-link:hover, ul .footer-link:focus {
  fill: var(--background);
  background-color: var(--color-but);
}
.footer-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  text-align: center;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-email {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.footer-label {
  cursor: pointer;
  outline: transparent;
  width: 100%;
  height: 50px;
  padding-left: 16px;
  background-color: #2f303a;
  color: var(--background);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
  width: 290px;
}
@media screen and (min-width: 480px) {
  .footer-label {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-label {
    width: 354px;
  }
}
.footer-label:focus {
  border: 1px solid var(--color-but);
}
.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    max-width: 738px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    max-width: 1200px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

footer [href="./index.html"] {
  display: block;
  text-align: center;
  color: var(--background);
  font-size: 26px;
  line-height: 1;
  font-family: "raleway";
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  footer [href="./index.html"] {
    text-align: inherit;
  }
}
footer [href="mailto:info@devstudio.com"],
footer [href="tel:+380961111111"] {
  font-style: normal;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-property: color;
  transition-property: color;
}
footer [href="https://goo.gl/maps/d5CcS2hFM6yTFQRFA"] {
  font-style: normal;
  line-height: 1.7;
  color: var(--background);
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.add-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .add-email {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.link-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
@media screen and (min-width: 1200px) {
  .list-contacts {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

header {
  border-bottom: 2px solid #ececec;
  padding-top: 3px;
  padding-bottom: 3px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 1200px) {
  .header-container {
    max-width: 1200px;
  }
}
.header-nav-link {
  display: block;
}
@media screen and (min-width: 768px) {
  .header-nav-link {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}

@media screen and (min-width: 768px) {
  .main-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }
}
.main-list a {
  color: var(--text);
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.main-list a:hover, .main-list a:focus {
  color: var(--color-but);
}

.nav {
  margin-right: auto;
}
.nav.active {
  color: var(--color-but);
}
.nav.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--color-but);
  position: absolute;
  bottom: -5px;
  right: 0;
  border-radius: 2px;
}

ul [href="mailto:info@devstudio.com"]:hover, ul [href="mailto:info@devstudio.com"]:focus, ul [href="tel:+380961111111"]:hover, ul [href="tel:+380961111111"]:focus {
  color: var(--color-but);
}

[href="/"] {
  color: var(--text);
  font-size: 24px;
  line-height: 1.375;
  font-family: "raleway";
}
@media screen and (min-width: 768px) {
  [href="/"] {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  [href="/"] {
    font-size: 26px;
    margin-right: 93px;
    line-height: 1.3461538462;
  }
}

.list-address {
  display: none;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .list-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .list-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.list-address a {
  color: var(--color-p);
  letter-spacing: 0.02em;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .list-address a {
    font-size: 12px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 1200px) {
  .list-address a {
    font-size: 14px;
    line-height: 1.1428571429;
  }
}

.list-item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.hero {
  background-color: #2f303a;
  padding: 200px 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_sm-@1x.webp);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(../images/hero/img_sm-@1x.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))) url(../images/hero/img_sm-@2x.webp);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%) url(../images/hero/img_sm-@2x.webp);
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_md-@1x.webp);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(../images/hero/img_md-@1x.webp);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_md-@2x.webp);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(../images/hero/img_md-@2x.webp);
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_lg-@1x.webp);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(../images/hero/img_lg-@1x.webp);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_lg-@2x.webp);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(../images/hero/img_lg-@2x.webp);
  }
}
.hero-cap {
  color: var(--background);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 40px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .hero-cap {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-cap {
    font-size: 44px;
    line-height: 1.3636363636;
    width: 696px;
  }
}

.skill {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .skill {
    padding: 94px 0;
  }
}
.skill__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .skill__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .skill__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.skill__item {
  width: 100%;
  display: inline-block;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .skill__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .skill__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .skill__item {
    width: 270px;
    margin: 0;
  }
}
.skill__item:last-child {
  margin-bottom: 0;
}
.skill__name {
  line-height: 1.1;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}
.skill__description {
  line-height: 1.7;
}
.skill-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.skill__svg {
  background-color: var(--bg-svg);
}
.skill__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--bg-svg);
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.work {
  padding-top: 0;
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}
.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.work__title {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--text);
  margin-bottom: 50px;
}
.work__section {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}
.work__item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.work__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--background);
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  text-transform: uppercase;
}
.work__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team {
  background-color: #f5f4fa;
}
.team__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 24px;
  padding-left: 74px;
  padding-right: 74px;
}
@media screen and (min-width: 1200px) {
  .team__social {
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
.team__info {
  background-color: var(--background);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1215686275), 0px 1px 1px rgba(0, 0, 0, 0.1411764706), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1215686275), 0px 1px 1px rgba(0, 0, 0, 0.1411764706), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team__info {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__info {
    width: 270px;
  }
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
        -ms-flex-direction: inherit;
            flex-direction: inherit;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.team__name {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 10px;
}
.team__profession {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  margin-bottom: 16px;
}
.team__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: var(--icon-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: fill, background-color;
  transition-property: fill, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.team__link:hover, .team__link:focus {
  fill: var(--background);
  background-color: var(--color-but);
}
.team__title {
  font-size: 28px;
  line-height: 1.1428571429;
  text-align: center;
  color: var(--text);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.1666666667;
    margin-bottom: 50px;
  }
}

.clients-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .clients-item {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list {
    width: 170px;
    height: 92px;
  }
}
.clients__title {
  font-size: 28px;
  line-height: 1.1428571429;
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.1666666667;
  }
}
.clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 92px;
  color: var(--icon-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
  width: 130px;
}
@media screen and (min-width: 480px) {
  .clients-link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .clients-link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-link {
    width: 170px;
  }
}
.clients-link:hover, .clients-link:focus {
  border-color: var(--color-but);
}

.products {
  padding-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .products {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .products {
    max-width: 1200px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
}
.products h2 {
  font-size: 18px;
  line-height: 2;
  text-align: left;
  margin: 0 0px 4px 24px;
  letter-spacing: 0.06em;
  color: var(--text);
}
.products .list-products:hover, .products .list-products:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1215686275), 0px 4px 4px rgba(0, 0, 0, 0.0588235294), 1px 4px 6px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1215686275), 0px 4px 4px rgba(0, 0, 0, 0.0588235294), 1px 4px 6px rgba(0, 0, 0, 0.1607843137);
}
.products li {
  letter-spacing: 0.06em;
}

.list-products {
  display: inline-block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
  width: 100%;
}
@media screen and (min-width: 480px) {
  .list-products {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .list-products {
    width: 354px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .list-products {
    width: 370px;
  }
}
.section .list-products:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1215686275), 0px 4px 4px rgba(0, 0, 0, 0.0588235294), 1px 4px 6px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1215686275), 0px 4px 4px rgba(0, 0, 0, 0.0588235294), 1px 4px 6px rgba(0, 0, 0, 0.1607843137);
}

.overlay {
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bg-color-90);
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  letter-spacing: 0.03em;
  font-size: 18px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
@media screen and (min-width: 768px) {
  .overlay {
    padding: 49px 24px 77px 24px;
  }
}
.overlay__desc {
  letter-spacing: 0.03em;
  font-size: 18px;
  color: var(--background);
  line-height: 1.5555555556;
}
li:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.team-thumb {
  position: relative;
  overflow: hidden;
}

.border p {
  font-size: 16px;
  line-height: 1.9;
  text-align: left;
  margin-left: 24px;
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  background-color: var(--background);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.modal-btn {
  color: var(--background);
  font-size: 16px;
  width: 216px;
  height: 50px;
  background-color: var(--color-but);
  border-radius: 4px;
  border: 0;
  letter-spacing: 0.06em;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.label-contacts {
  position: relative;
  margin-bottom: 10px;
}

.form-contacts {
  margin-bottom: 4px;
}

textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  cursor: pointer;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid var(--input-border);
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}
textarea::-webkit-input-placeholder {
  color: var(--color-textarea);
  font-size: 12px;
}
textarea::-moz-placeholder {
  color: var(--color-textarea);
  font-size: 12px;
}
textarea:-ms-input-placeholder {
  color: var(--color-textarea);
  font-size: 12px;
}
textarea::-ms-input-placeholder {
  color: var(--color-textarea);
  font-size: 12px;
}
textarea::placeholder {
  color: var(--color-textarea);
  font-size: 12px;
}
textarea:focus {
  border: 1px solid var(--color-but);
}

.textarea-contacts {
  margin-bottom: 20px;
}

.input {
  position: relative;
  width: 100%;
  height: 40px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  cursor: pointer;
  padding-left: 42px;
  outline: transparent;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}
.input:focus {
  border: 1px solid var(--color-but);
}

.strong-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--color-p);
  font-weight: 400;
  line-height: 1.1666666667;
}
.strong-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 12px;
  text-align: center;
}
.strong-licence {
  color: var(--color-p);
  line-height: 1.1666666667;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 12px;
}
@media screen and (min-width: 1200px) {
  .strong-licence {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}
.strong-licence a {
  text-decoration: underline;
  color: var(--color-but);
}

.licence {
  margin-bottom: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 9px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-backdrop);
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop [type=button] {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--background);
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */