.btn {
  &-cap {
    color: var(--background);
    font-size: 16px;
    width: 200px;
    height: 50px;
    background-color: var(--color-but);
    border-radius: 4px;
    border: 0;
    letter-spacing: 0.06em;
    margin: 0 auto;
    display: block;
    cursor: pointer;

    @media screen and(min-width:1200px) {
      width: 216px;
    }
  }

  &-cap:active {
    background-color: var(--active-but);
  }

  &-close {
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
    transition-property: fill;
  }

  &-close:hover,
  &-close:focus {
    fill: var(--color-but);
  }
}

.list-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 50px;

  @media screen and(min-width:768px) {
    justify-content: center;
  }

  & [type='button'] {
    height: 38px;
    background-color: #f5f4fa;
    border-radius: 4px;
    border: 0;
    font-size: 16px;
    padding: 6px 27px;
    cursor: pointer;
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);

    @media screen and(min-width:768px) {
      padding: 6px 22px;
    }
  }

  & [type='button']:hover,
  & [type='button']:focus {
    background-color: var(--active-but);
    color: var(--background);
    box-shadow: 0px 3px 1px #0000001a, 0px 1px 2px #00000014, 0px 2px 2px #0000001f;
  }
}

.tg-btn {
  color: var(--background);
  font-size: 16px;
  width: 216px;
  height: 50px;
  background-color: var(--color-but);
  border-radius: 4px;
  border: 0;
  letter-spacing: 0.06em;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 10px;
}
