body {
  color: var(--text);
  background-color: var(--background);
  font-family: 'roboto';
  letter-spacing: 0.03em;
  font-size: 14px;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and(min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

p {
  color: var(--color-p);
}
span {
  color: var(--color-but);
}
.hidden-nav {
  opacity: 0;
  display: none;
  position: absolute;

  @media screen and(min-width:768px) {
    opacity: 1;
    display: flex;
    align-items: center;
    position: relative;
  }
}
