/* Reset */

.html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Margin reset*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Decoration reset */
.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
