:root {
  --text: #212121;
  --background: #ffffff;
  --color-p: #757575;
  --color-but: #2196f3;

  --active-but: #188ce8;
  --icon-color: #afb1b8;
  --bg-svg: #f5f4fa;
  --bg-color-90: rgba(33, 150, 243, 90%);
  --bg-backdrop: #0000001a;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --input-border: #21212133;
  --color-textarea: rgba(117, 117, 117, 0.5);
}
