.skill {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      gap: 30px;
      justify-content: center;
    }
  }

  &__item {
    width: 100%;
    display: inline-block;
    margin-bottom: 30px;
    @media screen and (min-width: 480px) {
      width: 450px;
    }

    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
      margin: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__name {
    line-height: 1.1;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
  }

  &__description {
    line-height: 1.7;
  }

  &-item {
    display: flex;
    gap: 30px;
  }

  &__svg {
    background-color: var(--bg-svg);
  }

  &__icon {
    display: flex;
    background-color: var(--bg-svg);
    height: 120px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 30px;
  }
}
